.button {
  font-size: 2.4rem;
  // font-weight: 600;

  font-family: font('condensed');
  font-weight: 400;
  // padding: .5em 1.5em;
  padding: .5em 1em .4em; // bottom slightly less due to typeface
  border: 2px solid transparent;
  background-color: color('yellow');
  line-height: 1;
  color:white;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  
  // &:after {
  //   content: "+";
  //   margin-left: .5em;
  // }
  user-select: none;
  &:hover, &:focus {
    // transform: scale(1.05);
    filter: brightness(1.1);
    transition: all .25s;
  }
  [data-template=single-services][data-page=emerge] &,
  [data-template=single-services-emerge] & {
    background-color: color('pink');
  }
  &.button-secondary {
    background-color: transparent;
    background-color: color('white', .10);
    border: 2px solid;
    &:hover, &:focus {
      background-color: color('white', .25);
    }
    [data-template=single-services][data-page=emerge] &,
    [data-template=single-services-emerge] & {
      background-color: color('pink', .10);
      border: 2px solid color('pink');
      color: color('pink');
      &:hover, &:focus {
        background-color: color('pink', .25);
      }
    }
    [data-template=single-careers] &  {
      background-color: transparent;
      background-color: color('yellow', .10);
      border: 2px solid color('yellow');
      color: color('yellow');
      &:hover, &:focus {
        background-color: color('yellow', .25);
      }
    }
  }
  section.section-content .section-content__container & {
    text-decoration: none;
  }
}
