* {
  box-sizing: border-box;
}

%widthLimiter {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
%flexColumnLayout {
  display: flex;
  flex-direction: column;
  @extend %widthLimiter;
}

:root {
  font-family: font(ui);
  display: block;
  font-size: 10px;
  @media #{$desktop-xl} {
    font-size: 12px;
  }
  // background-color: color('background');
  background-color: color('light');
  color: color('black');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --vh: 100vh;
  --nav-height: 75px;
  --wp-admin-bar-height: 0;
  .view-main {
    transition: transform .62s;
    transform-origin: 50vw var(--transform-origin-y);
  }
  &.chrome,
  &.apple {
    &.programmatic-scrolling {
      .view-main {
        @media #{$tablet} {
          transition: transform .19s;
          transform: scale(.95);
        }
      }
    }
  }
  &.menu-open {
    overflow: hidden;
  }
  &.scrolled,
  &.menu-open,
  &.wishlist-open,
  &.has-overlay {
    &.no-scrollbar {
      overflow: hidden;
    }
    &.chrome,
    &.apple {
      &.high-performance {
        .view-main {
          transition: transform .38s;
          transform: scale(.97);
          @media #{$tablet} {
            transform: scale(.98);
          }
        }
        .view-main__inner-shadow {
          transition: .38s;
          opacity: 1;
        }
      }
    }
  }
}
// [data-page=front-page]  {
//   color:color('black');
// }

body {
  // padding-top: var(--nav-height); 
  @extend %flexColumnLayout;
  // color: color('foreground');
  min-height: 100vh;
  font-family: font(ui);
  --wp-admin-bar-height: 0px;
  &.admin-bar {
    --wp-admin-bar-height: 46px;
    @media (min-width: 783px) {
      --wp-admin-bar-height: 32px;
    }
  }
  .ie & {
    display: block;
  }
}
// .view-main {
//   display: flex;
//   flex-direction: column;
//   flex: 1 1 auto;
//   @extend %widthLimiter;
//   .ie & {
//     display: block;
//     padding-top: 100px;
//   }
//   .home & {
//     padding-top: 0;
//   }
// }
// .view-main-inner {
//   flex: 1 1 auto;
//   @extend %widthLimiter;
//   > * {
//     @extend %widthLimiter;
//   }
// }
// .view-main__inner-shadow {
//   display: none;
//   .high-performance & {
//     content: '';
//     display: block;
//   }
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   opacity: 0;
//   z-index: 1;
//   transition: 1s;
//   background-color: color(black,.62);
//   box-shadow: 
//     inset 0 0 6em 3em color(black),
//     inset 0 0 20em color(black);
//   @media #{$tablet} {
//     background-color: transparent;
//     box-shadow: 
//       inset 0 0 4em 2em color(black),
//       inset 0 0 10em color(black);
//   }
//   // pointer-events: none;
//   transform: translateZ(0);
// }

@keyframes translateX50Pc {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(50%,0,0);
  }
}

::selection {
  background-color: color('navy', .5);
}

:focus {
  outline-color: color('navy', .5);
  // outline-color: transparent !important;
  // outline: 0 !important;
}

img {
  max-width: 100%;
  // pointer-events: none;
  // user-select: none;
} 

// svg {
//   // pointer-events: none;
//   // user-select: none;
// }

figure {
  margin: 0;
}

#wpadminbar {
  position: fixed;
  background-color: rgb(1,2,3);
}

[data-for-attachment-id] {
  transition: opacity 1s;
  &:not(.loaded) {
    opacity: 0;
  }
}

._lazy {
  transition: opacity 1s;
  &:not(._lazy-loaded) {
    opacity: 0;
  }
}

@keyframes SimpleAnimateIn {
  from {
    opacity: 0;
    transform: translateY(.62em);
  }
  to {
    opacity: 1;
    transform: translateY(1);
  }
}

// .page-section {
//   .section__title {
//     text-transform: uppercase;
//     font-weight: 300;
//     font-size: 3.6rem;
//     line-height: 1.1;
//     letter-spacing: 0.05em;
//   }

// }