.site-footer {
// margin-top: -2rem;
background-color: color('light');
// color: white;

  .container {
    @media #{$only-phone} {
      flex-direction: column;
      align-items: center;
    }
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4.8rem size(lg);
    align-items: flex-start;

    font-size: 1.6rem;
    // > p {
    //   // flex: 0 0 auto;
    //   // align-self: flex-end;
    // }

    .footer__logo {
      flex: 1 1 50%;
      svg {
        width: 18rem;
        height: auto;
      }
    }
  }
  .menu-footer-links-menu-container {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    @media #{$only-phone} {
      padding: 2.4rem 0;
    }
  }

  .footer__menu {
    @media #{$only-phone} {
      align-items: center;
    }

      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: flex-end;
    flex-direction: column;
    > li {
      &:hover, &:focus {
        background-color: white;
      }
    }
  }
}

.footer__credits {
  @media #{$only-phone} {
    order: 3;
  }
  flex: 0 0 auto;
  @media #{$tablet} {
    align-self: flex-end;
  }
}