.section-content-image-block {
  .container {
    display: flex;
   
   figure, figcaption {
    flex: 1 1 50%;
    width: 100%;
   }
   figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
      content: "";
      display: block;
      padding-bottom: 75%;
    }
   }

   figcaption {
    background-color: color('white');
    display: flex;
    align-items: center;
  }
  
  .content-image-block__content {
    width: 75%;
    padding: 4rem;
   }
  }
}