.section-governance {
  .container {
    background-color: color('navy');
    color: white;
    padding: 4.8rem;
    @media #{$only-phone} {
      padding: 4.8rem 2.4rem;
    }
  }
  .section-governance__content {
    overflow: visible;
    > * {
      margin-top: 1em;
      // + * {
      // }
    }
    h3 {
      font-family: font(ui);
      font-weight: 500;
      font-size: 3.2rem;
    }
    p {
      margin-top: 0;
    }
  }

  .section-governance__content-list {
    // @media #{$only-phone} {
      // flex-direction: column;
      // margin-left: -2.4rem;
      // margin-right: -2.4rem;
      // padding-right: 2.4rem;
      // padding-left: 2.4rem;
      // overflow-x: scroll;
      margin-bottom:-1.2rem;
      flex-wrap: wrap;
      position: relative;
      margin: 0;
      margin-top: 2.4rem;
      padding: 0;
      list-style: none;
      display: flex;
    // }
    @media #{$tablet} {
      margin-bottom:-1.2rem;
    }
    @media #{$desktop} {
      flex-wrap: nowrap;
    }
    li {
      // @media #{$only-phone} {
        flex: 0 1 50%;
        margin-right: 0;
        padding-right: 1.2rem;
        padding-bottom: 1.2rem;
        position: relative;
        // opacity: .5;
        display: flex;
        width: 100%;
      // }
      @media #{$tablet} {
        flex: 0 1 33.33%;
        padding-right: 1.2rem;
        padding-bottom: 1.2rem;
      }
      @media #{$desktop} {
        flex: 1 1 auto;
      }
      
      > div {
        width: 100%;
        padding: 1.6rem;
        padding-right: 3.2rem;
        background: color('white', .10);
        position: relative;
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        > * {
          + * {
            margin-top: 1.6rem;
          }
        }
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
      }
      // margin-right: 2.4rem;
      // &:last-of-type {
      //   margin-right: 0;
      // }
    }

    .governance__content-list-item-wrapper {
      padding: 1.6rem;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .caption {
      background: white;
      color: color('navy');
      padding: .4rem .8rem;
      font-family: font('heading');
      text-transform: uppercase;
      display: inline-block;
    }
    h4 {
      // width: 50%;
      font-family: font('ui');
      font-weight: 500;
      font-size: 3.2rem;
      @media #{$only-phone} {
        font-size: 2.4rem;
      }
    }
    // figure {
    //   width: 100%;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background-position: center;
    //   &:after {
    //     content: "";
    //     display: block;
    //     padding-bottom: 100%;
    //   }
    // }
    // figcaption {
    //   padding: .8rem;
    // }
  }
}