.section-scholarship {
  .container {
    padding: 4.8rem;
    background: color('light');
    @media #{$only-phone} {
      padding: 4.8rem 2.4rem;
    }
  }
  .swiper-slide {
    @media #{$only-phone} {
      // flex-direction: column-reverse;
      flex-direction: column;
      padding-top: 2.4rem;
    }
    flex-direction: row-reverse;
    padding-right: 0;
    padding-left: 0;
    figure {
      flex: 0 0 50%;
      &:after {
        padding-bottom: 100%;
      }
    }
    article {
      flex: 0 0 50%;
    }
  }
  .banner__content {
    img {
      height: 3.2rem;
      width: auto;
    }
    padding-right: 0;
    padding-left: 3.2rem;
    @media #{$only-phone} {
      padding-left: 0;
    }
    h2 {
      font-weight: 400;
      strong {
        font-weight: 400;
        color: color('pink');
      }
    }
     p{
      font-size: 2.4rem;
     }
  }
}