.section-programmes {
  .container {
    background-color: color('navy');
    color: white;
    padding: 4.8rem;
  }
  // .section-header {
  //   .toggle {
  //     font-size: 1.6rem;
  //     opacity: .25;
  //     display: inline-block;
  //     font-family: font('heading');
  //     background: white;
  //     border-radius: 100px;
  //     padding: .8rem;
  //     .toggle-option {
  //       padding: .4rem 1.6rem;
  //     }
  //     .active {
  //       border-radius: 100px;
  //       display: inline-block;
  //       background-color: color('yellow');
  //       color: white;
  //     }
  //   }
  // }

  .section-programmes__content {
    position: relative;
    
    display: flex;
    margin: 0;
    margin-top: 4.8rem;
    padding: 0;
    list-style-type: none;

    figure {
      width: 100%;
      background-size: cover;
      background-position: center;
      &:after {
        content: "";
        display: block;
        padding-bottom: 56.25%;
      }
    }

    li {
      opacity: 0.25;
      margin-right: 2.4rem;
      &:last-of-type {
        margin-right: 0;
      }
      flex: 1 1 33.33%;
      background-color: color('white', .1);
      h3 {
        font-family: font('ui');
        font-weight: 500;
        font-size: 3.2rem;
      }
      .caption {
        display: inline-block;
        color: color('navy');
        background: white;
        // padding: .4rem;
      }
    }

    figcaption {
      padding: 1.6rem;
      > * {
        + * {
          margin-top: 1.6rem;
        }
      }
    }
  }
}