.single-research__main {
  .section-content {
    background-color: color('light');
  }
  // > .section-content {
  //   // background: linear-gradient( 105deg, color('navy') 60%, color('navy', 0) 60%);
  //   > .container {
  //     // background: linear-gradient( 105deg, color('navy') 60%, color('navy', 0) 60%);
  //     // display: flex;
  //     // padding: 4.8rem;
  //   }
  // }

  
  .section-content__more {
    display: none;
    .container {
      flex-direction: column;
    }

    .caption {
      background-color: color('purple');
    }

    background: white;
    .content__more-title {
      text-transform: uppercase;
      font-family: font('ui');
      color: color('purple');
    }
    .more__item {
      width: 100%;
      flex: 0 0 33%;
      margin-right: 2.4rem;
    }
    figure {
      border: 2px solid color('navy');
      box-shadow: color('navy') -.8rem .8rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      position: relative;
      &:after {
        content: "";
        display: block;
        padding-bottom: 56.25%;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 50%;
        z-index: 10;
        background: white;
        padding: .8rem;
      }

      h3 {
        font-weight: 500;
      }
    }
    .content__more-items {
      margin-top: 2.4rem;
      display: flex;
    }
  }
}

.section-content {
  background-color: color('white');
  > .container {
    display: flex;
    padding: 4.8rem;
    @media #{$only-phone} {
      padding: 4.8rem 2.4rem;
      flex-direction: column;
    }
  }
  
  .section-content__container {
    flex: 1 1 75%;
    margin-right: 4.8rem;
    @media #{$only-phone} {
      margin-right: 0;
    }
    // color: white;
    > * {
      + * {
        margin-top: 1em;
      }
    }
    h2, h3, h4 {
      font-weight: 500;
      font-weight: 2.4rem;
    }
    p {
      font-size: 2.4rem;
      // padding: 2.4rem;
      // background-color: color('navy');
      // columns: 2;
      // column-gap: 2.4rem;
    }
    .wp-block-image {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
    img {
      border: 2px solid color('navy');
      box-shadow: color('navy') -.8rem .8rem;
      width: 100%;
      height: auto;
    }
    a.button {
      margin-top: 1.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      padding: .8rem;
    }
  }
  
  .section-content__aside {
    .single-research__main & {
      @media #{$only-phone} {
        margin-top: 4.8rem;
      }
    }
    article {
      background-color: white;
      padding: 1.6rem;
    }
    // flex: 0 0 33%;
    flex: 0 0 25%;
    figure {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    figcaption {
      
      > * {
        margin-top: 1.6rem;
      }
    }  
  } 
}